<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"
            src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="../../static/css/style.css"/>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../../static/bootstrap.css"
          th:href="@{/bootstrap.css}"/>

    <div th:replace="fragments/header :: head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <form action="#" th:action="@{/registration}" th:object="${userDto}" method="post">
        <span th:text="${error}"></span>
        <div class="row">
            <div class="col-xs-3">
                <div class="input-group ">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="*{username}" type="text" class="form-control" placeholder="username"
                           autofocus="autofocus"/>
                </div>
            </div>
            <div class="col-xs-9">
                <p style=" color : #ac2925; " th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect
                    date</p>
            </div>
        </div>
        <div>&nbsp; </div>
        <div class="row">
            <div class=" col-xs-3">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input th:field="*{password}" type="password" class="form-control" placeholder="Password"
                           autofocus="autofocus"/>
                </div>
            </div>
            <div class=" col-xs-9">
                <p style=" color : #ac2925; " th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect
                    date</p>
            </div>
        </div>
        <div>&nbsp; </div>
        <div class="row">
            <div class=" col-xs-3">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input th:field="*{passwordConfirm}" type="password" class="form-control"
                           placeholder="password confirm"
                           autofocus="autofocus"/>
                </div>
            </div>
            <div class=" col-xs-9">
                <p style=" color : #ac2925;" th:if="${#fields.hasErrors('passwordConfirm')}"
                   th:errors="*{passwordConfirm}">
                    Incorrect date</p>
            </div>
        </div>
        <div>&nbsp; </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>

</div>
</body>
</html>

